// Sticky footer
// cf view-source:http://getbootstrap.com/examples/sticky-footer/sticky-footer.css


html {
  position: relative;
  min-height: 100%;
}

// body {
//   /* Margin bottom by footer height */
//   margin-bottom: 60px;
//   overflow-y: hidden;
// }

// #footer {
//   position: absolute;
//   bottom: 1em;
//   width: 100%;
//   /* Set the fixed height of the footer here */
//   height: 24px;
//   // background-color: #f5f5f5;
// }


// SocialSharePrivacy
// Hide settings button

.settings_info {
  display: none !important;
}